= form_for StorageForm.new(params[:storage]), url: storage_index_path, html: { class: 'form-inline' } do |f|
  = f.text_area :text, class: 'form-control'
  = f.button 'Store!', class: 'btn btn-success-outline'
